<div class="container">
    <img src="../../../assets/login11.jpg" alt="Snow" style="width:100%;">
    <div class="centered">    
        <form fxLayout="column" fxLayoutAlign="start stretch"  (ngSubmit)="verifyOtp()">
        <ngx-otp-input [config]="otpInputConfig" (otpChange)="handeOtpChange($event)" (fill)="handleFillEvent($event)" >
    </ngx-otp-input>
    <button mat-raised-button color="primary" type="button" [disabled]="!filled" (click)="verifyOtp()">verify</button>
<div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error.error.message}}</div>
</form>
</div>
  </div>